/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

/* Controlli posizione  */
.flex {
    display: flex;
}

.relative {
    position: relative;
}

/* Container  */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.navbar {
    padding: 10px;
}

div.navbar div.container {
    justify-content: space-between;
}

div.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.2rem;
}

div.nav-logo a img{
    height: 1.6rem;
}

div.nav-settings a img {
    height: 1.2rem;
}

/* Main  */

.main-row {
    background-color: grey;
    border: solid black 2px;
    margin-top: 50px;
    justify-content: space-between;
}

div.main-column {
    width: calc((100% / 3) - 15px);
    height: 600px;
    background-color: cadetblue;
    border: dotted 2px goldenrod;
}

.favourite-button{
    position: absolute;
    top: 1.5%;
    right: 0;

    background-color: white;
    height: 40px;
    width: 40px;
    font-size: 2.1rem;
    text-align: center;
}

div.product-tags {
    position: absolute;
    bottom: 7%;
}

span.product-discount {
    background-color: red;
    margin-right: 0.2rem;
}

span.product-eco {
    background-color: green;
}

/* Text Colors  */

.text-color-white {
    color: white;
}

.text-color-black {
    color: black;
}

.text-color-red {
    color: red;
}

/* Background colors  */

.bg-color-orange {
    background-color: #ff6900;
}

.bg-color-dark-grey {
    background-color: #1a1a1a;
}

.bg-color-red {
    background-color: red;
}

.bg-color-green {
    background-color: green;
}