/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

footer {
    background-color: #1a1a1a;
    padding: 1.8rem 0;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    padding-right: 0.5rem;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 0.92rem;
}

h2 {
    font-size: 0.98rem;
}

h3 {
    font-size: 0.8rem;
}

/* Controlli posizione  */
.flex {
    display: flex;
}

.relative {
    position: relative;
}

/* Container  */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.navbar {
    padding: 1.1rem 0;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 8px 0px;
    background-color: #ff6900;
}

div.container {
    justify-content: space-between;
    align-items: center;

}

div.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.2rem;
}

div.nav-logo a img{
    height: 1.6rem;
}

div.nav-settings a img {
    height: 1.2rem;
}

/* Main  */

.main-row {
    margin: 40px 0;
    justify-content: space-between;
}

div.main-column {
    width: calc((100% / 3) - 15px);
}

.favourite-button{
    position: absolute;
    top: 1.5%;
    right: 0;

    background-color: white;
    height: 40px;
    width: 40px;
    font-size: 2.1rem;
    text-align: center;
}

div.product-tags {
    position: absolute;
    bottom: 7%;
}

span.product-discount {
    background-color: red;
    margin-right: 0.2rem;
}

span.product-eco {
    background-color: green;
}

/* Main immagine  */

div.product-img-container {
    width: 100%;
    height: 600px;
}

div.product-img-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.product-img-secondary {
    display: none;
}

div.product-img-container:hover img.product-img-secondary {
    display: inline-block;
}

/* Hover cuoricino se si passa il cursore sul cuore  */
/* div.favourite-button:hover {
    color:red;
} */

/* Hover cuoricino se si passa sull'immagine  */

div.product-img-container:hover div.favourite-button {
    color:red;}

/* Main Descrizione prodotto */

div.product-description p.brand-name {
    padding-top: 0.5rem;
    font-size: 0.85rem;
    color: rgb(77, 77, 77);
}

h1.product-name {
    text-transform: uppercase; 
}

div.product-description p.discounted-price , div.product-description p.full-price {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
} 

div.product-description p.full-price {
    text-decoration: line-through;
    font-weight: normal;
}

div.product-tags span.product-discount , span.product-eco {
    font-size: 0.75rem;
    font-weight: bold;
    padding:  0.3rem 0.5rem;
}
/* Footer  */

.footer-container {
    justify-content: space-between;
}

div.footer-info h2 {
    padding-bottom: 0.5rem;
}

div.footer-socials {
    position: absolute;
    right: 0;
    top: 30px;
}

div.footer-socials h3 {
    padding-bottom: 0.5rem;
}

div.footer-socials img {
    width: 18px;
    margin-right: 0.4rem;
}

/* Text Colors  */

.text-color-white {
    color: white;
}

.text-color-black {
    color: black;å
}

.text-color-red {
    color: red;
}
